name: Frontend CI Pipeline

on:
  push:
    branches:
      - master
      # agar main hai to main likh dena

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      NEXT_PUBLIC_APP_NAME: ${{ secrets.NEXT_PUBLIC_APP_NAME }}
      NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install
        working-directory: frontend

      - name: Build Next.js app
        run: npm run build
        working-directory: frontend